#-------------app-----------------------

fastapi~=0.112.2
pydantic~=2.8.2
python-dotenv~=1.0.1
requests~=2.32.3
openai~=1.37.1
uvicorn~=0.30.6
starlette~=0.38.2
weaviate~=0.1.0
langchain~=0.3.0
numpy~=1.26.4
scikit-learn~=1.5.1

#-------------test-----------------------

openai~=1.44.1
tiktoken
scikit-learn
weaviate-client

langchain-community
langchain-openai
langchain-core
langchain~=0.2.16

bs4
pypdf
cryptography

deepeval

pydantic~=2.9.0

spacy
keyword-spacy
keybert
cohere