fastapi~=0.113.0
uvicorn

python-dotenv~=1.0.1

requests~=2.32.3

numpy
pandas
datetime

pytest

openai~=1.44.1
tiktoken
scikit-learn
weaviate-client

langchain-community
langchain-openai
langchain-core
langchain~=0.2.16

bs4
pypdf
cryptography

deepeval

pydantic~=2.9.0