<app-header></app-header>

<div class="privacy-wrapper">
  <h1>Privacy</h1>

  <section>
    <p>
      The Technical University of Munich (TUM) takes the protection of personal data very seriously and uses secure and encrypted communication according to proven procedures and state-of-the-art technologies (e.g. HTTPS with secure certificate from TUM, TLS 1.3, Strict Transport Security, Forward Secrecy, Same Site Cookie Protection) to protect the privacy of StudiAssist users in the best possible way. StudiAssist processes personal data in the context of teaching and counselling in compliance with the applicable data protection regulations. The legal basis for the processing of data is Art. 6 para. 1 lit. e GDPR (performance of a task carried out in the public interest).<br>
      In the following, we provide information on the type, scope and purpose of the collection and use of personal data. This information can be accessed at any time from our website.
    </p>
  </section>

  <section>
    <h2>General Information</h2>
    <p><strong>Name and contact details of the person responsible:</strong><br />
      Technical University of Munich<br />
      Arcisstraße 21, 80333 Munich<br />
      Telephone: +49-(0)89-289-01<br />
      Email: poststelle(at)tum.de
    </p>

    <p><strong>Name and contact details of the data protection officer</strong><br />
      The data protection officer of the Technical University of Munich<br />
      Arcisstraße 21, 80333 Munich<br />
      Telephone: +49-(0)89-289-17052<br />
      Email: beauftragter(at)datenschutz.tum.de
    </p>
  </section>

  <section>
    <h2>Purpose and legal basis for the processing of personal data</h2>
    <p>
      The purpose of the processing is the fulfilment of legally assigned public tasks, in particular teaching and advising in the university environment. The processing is carried out on the basis of Art. 6 para. 1 lit. c GDPR and supplementary university law (BayHschG, APSO, BayFEV).
    </p>
  </section>

  <section>
    <h2>The use of artificial intelligence</h2>
    <p>
      AI models that are operated via the Azure OpenAI Service of Microsoft Ireland Operations Ltd. can be used to answer user enquiries. These services are used exclusively via European server regions. The processing takes place within the framework of the legal regulations, in particular in compliance with the GDPR.<br>
      When using StudiAssist, there is no targeted collection of personal data. If users voluntarily enter personal information (e.g. names) in their enquiries, this is processed solely for the purpose of directly answering the enquiry and without permanent storage or profiling. The responsibility for entering sensitive content lies with the user.
    </p>
  </section>

  <section>
    <h2>Recipients of personal data</h2>
    <p>
      The technical operation of the application is carried out by the Chair of Applied Education Technologies at the Technical University of Munich.<br>
      If necessary, your data will be transmitted to the responsible supervisory and auditing authorities for the exercise of the respective control rights.<br>
      In order to avert risks to information technology security, data may be forwarded to the State Office for Information Technology Security in the case of electronic transmission and processed there on the basis of Art. 12 ff. of the Bavarian E-Government Act.<br>
    </p>
  </section>

  <section>
    <h2>Duration of the storage of personal data</h2>
    <p>
      Your data will only be stored for as long as is necessary for the fulfillment of duties, taking into account statutory retention periods.
    </p>
  </section>

  <section>
    <h2>Your rights</h2>
    <ul>
      <li>You have the right of access (Art. 15 GDPR).</li>
      <li>If incorrect personal data is processed, you have the right to rectification (Art. 16 GDPR).</li>
      <li>If the legal requirements are met, you may request the deletion or restriction of processing (Art. 17 and 18 GDPR).</li>
      <li>If you have consented to the processing or if there is a contract for data processing and the data processing is carried out with the help of automated procedures, you may have a right to data portability (Art. 20 GDPR).</li>
      <li>If you have consented to the processing and the processing is based on this consent, you can revoke the consent at any time for the future. The lawfulness of the data processing carried out on the basis of the consent until the revocation is not affected by it.</li>
    </ul>
    <p>
      You have the right to object to the processing of your data at any time on grounds relating to your particular situation, if the processing is carried out exclusively on the basis of Art. 6(1) lit. e or f GDPR (Art. 21(1)(1) GDPR).
    </p>
  </section>

  <section>
    <h2>Right to appeal at the supervisory authority</h2>
    <p>
      Furthermore, you have the right to appeal at the Bavarian State Commissioner for Data Protection. You can reach them under the following contact details:<br>
      Postal address: Postfach 22 22 19, 80502 Munich, Germany.<br />
      Address: Wagmüllerstraße 18, 80538 Munich, Germany<br />
      Telephone: +49-(0)89-212672-0<br />
      Email: poststelle(at)datenschutz-bayern.de<br />
      <a href="https://www.datenschutz-bayern.de" target="_blank" rel="noopener noreferrer">www.datenschutz-bayern.de</a>
    </p>
  </section>

  <section>
    <h2>Technische Umsetzung</h2>
    <p>
        Die technische Umsetzung und das Hosting der Anwendung werden durch den Lehrstuhl für Applied Education Technologies an der Technischen Universität München durchgeführt.
    </p>
  </section>

  <section>
    <h2>Technical implementation</h2>
    <p>
      The following data is collected when you visit our website: IP address, time, requested resource, status code, browser information. The data is used for security and error analysis.
    </p>
  </section>

  <section>
    <h2>Cookies</h2>
    <p>
      In order to extend the range of functions of our Internet offering and to make its use more comfortable for you, we partly use so-called "cookies". With the help of these cookies, data can be stored on your computer when you call up our website. However, you can deactivate the storage of cookies or set your browser so that cookies are only stored for the duration of the respective connection to the Internet. This could, however, limit the functional scope of our offering.
    </p>
  </section>

  <section>
    <h2>Disclosure and rectification</h2>
    <p>
      You have the right, upon written request and free of charge, to obtain information about the personal data stored about you. In addition, you have the right to have incorrect data corrected. You can reach the data protection officer of the Technical Univerity of Munich by e-mail at beauftragter(at)datenschutz.tum.de or via www.datenschutz.tum.de.
    </p>
  </section>
</div>