.env
rag-venv
/development.env
.DS_Store
.vscode
*/DS_Store
.pytest_cache/
docker/.docker-data
testing/results/*
testing/testing.env
testing/tests/test_data.json
testing/tests/test_data_backup.json
.deepeval
.docker-data

docker/weaviate.yml