/* Header styles */
.kb-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #072140;;
    color: #fff;
    height: 50px;
    padding: 8px 32px;
  }
  
  .sa-logo     { height: 50px; object-fit: contain; }
  .kb-logo     { width: 24px;  height: 24px; object-fit: contain; }
  
  .header-right { display: flex; align-items: center; gap: 24px; }
  
  .partner {
    display: flex; align-items: center; gap: 6px;
    .made-at { font-size: .85rem; font-weight: 500; white-space: nowrap; }
  }