<div class="forgot-password-container">
    <h3 class="forgot-password-header">Passwort zurücksetzen</h3>
    <form (ngSubmit)="onSubmit()" #resetForm="ngForm">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          required
          #emailInput="ngModel"
        />
        <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="error">
          Bitte geben Sie eine gültige E-Mail-Adresse ein.
        </div>
      </div>
      <button *ngIf="!loading" type="submit" [disabled]="resetForm.invalid">Reset-Link senden</button>
      <app-custom-dot-loader *ngIf="loading"></app-custom-dot-loader>
      <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    </form>
    <div class="back-to-login">
      <a routerLink="/login" class="back-link">Zurück zum Login</a>
    </div>
  </div>