services:
  nginx-proxy:
    image: ghcr.io/ls1intum/angelosai/custom-openresty:latest
    container_name: nginx-proxy
    ports:
      - "443:443"
    volumes:
      - type: bind
        source: /var/lib/rbg-cert
        target: /var/lib/rbg-cert
        read_only: true
      - type: bind
        source: ./nginx.conf
        target: /etc/nginx/conf.d/default.conf
    networks:
      - angelos-network

networks:
  angelos-network:
    external: true